@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
  :root {
    --baseBG: #121214;
    --baseTitle: #e1e1e6;
    --baseSubtitle: #a8a8b3;
  }
  :focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--yellow-dark);
  }

  body {
    background-color:  var(--baseBG);
    color: var(--baseTitle);
  }
  
  body,
  input,
  textarea,
  button {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

.HomeContainer {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.DashboardContainer {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}